/* Import Google Font */
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body */
body {
    font-family: 'Fira Sans Condensed', sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #909194;
    padding: 20px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}

/* Header */
.main-header {
    background-color: #231f20;
    color: white;
    padding: 20px;
    text-align: center;
    border-radius: 5px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
    justify-content: center;
}

.header-image {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.main-header h1 {
    margin: 0;
    font-size: 2.5rem; 
}

.main-header p {
    margin: 5px 0 0;
    font-size: 1.2rem;
}

/* Navigation Menu */
nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 20px 0;
    padding: 0;
    width: 100%;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    font-size: 1.2rem;
    padding: 5px 10px;
    color: #000000;
    font-weight: bold;
}

nav ul li a.active {
    color: white;
}

nav ul li a:hover {
    color: #811427;
}

/* Footer */
footer {
    background-color: white;
    color: #333;
    text-align: center;
    padding: 15px 10px;
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    border-radius: 5px;
}

footer ul {
    list-style: none;
    padding: 5;
    margin: 2px 0;
}

footer ul li {
    margin: 2px 0;
}

footer a {
    color: #007acc;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

/* Main Content Section */
main {
    flex: 1;
    margin-bottom: 40px;
}

/* Weather Section */
#weather-section {
    text-align: center;
    margin-top: 20px;
    background-color: #c2dff8db;
    padding: 10px 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
}

#temperature, #description {
    font-size: 1.5rem;
    font-weight: normal;
    color: #333;
    margin: 5px 0;
    text-transform: capitalize;
}

#weather-icon {
    width: 100px;
    height: auto;
    margin-top: 5px;
}

/* Links Section */
#links-section {
    background-color: white;
    padding: 50px 25px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

/* Links List Styling with Grid */
ul#links-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 60px;
}

/* Individual Link Item */
ul#links-list li {
    margin-bottom: 0;
}

ul#links-list li a {
    color: #007acc;
    text-decoration: none;
    font-size: 1.8rem;
}

ul#links-list li a:visited {
    color: #000000;
}

ul#links-list li a:hover {
    color: #811427;
    text-decoration: underline;
}

/* Media Query for larger screens (desktop) */
@media (min-width: 1024px) {
    .main-header h1 {
        font-size: 2.5rem; 
    }

    nav ul {
        justify-content: center; 
    }

    nav ul li a {
        font-size: 1.4rem; 
    }

    /* Weather Section */
    #weather-section {
        margin-left: 10px;
        margin-right: 10px;
        padding: 20px;
    }

    /* Links Section */
    #links-section {
        padding: 40px 25px;
    }

    ul#links-list {
        grid-template-columns: repeat(3, 1fr); 
        gap: 20px;
    }
}

/* Media Query for mobile screens */
@media (max-width: 767px) {
    body {
        padding: 10px; 
        justify-content: flex-start; 
    }

    .main-header {
        padding: 15px;
        text-align: center;
        width: 100%; 
    }

    .header-image {
        max-width: 90%; 
        height: auto;
    }

    .main-header h1 {
        font-size: 2rem; 
    }

    nav ul {
        flex-direction: column;
        align-items: center;
        padding: 0;
        width: 100%;
    }

    nav ul li {
        margin-bottom: 10px;
    }

    nav ul li a {
        font-size: 1.1rem;
        padding: 5px 10px;
    }

    #weather-section {
        padding: 10px;
        margin: 10px;
    }

    #links-section {
        padding: 25px 15px;
    }

    ul#links-list {
        grid-template-columns: 1fr; 
        gap: 20px;
    }
}
